extends layout

block content
     section#todo
      header#header
       h1 வேலைகள் 
       form( id='todo-form')
        input(id='new-todo', placeholder="செய்ய வேண்டியவை எவை ?", name='title')
      section#main
       input(id="toggle-all", type="checkbox")
       ul#todo-list
      footer#footer
